body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
}

*{
    border-style:border-box;
}

.header__container {
    width: 1110px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
p{
    letter-spacing: 0.03em;
    line-height: 1.55em;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.4em; 
}

.header__nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 72px;
}

a{
    color: #000000;
    text-decoration: none;
}

.header{
    padding-top: 72px;
}

.header__offer{
    margin-bottom: 98px;
    margin-top: 52px;
}

.header__offer-place{
    font-size: 18px;
    margin-bottom: 21px;
}

.header__offer-title{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.07em ;
}

.header__offer-desc{
    font-size: 18px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.header__offer-btn{
    color: white;
    background: #6A85E3;
    font-size: 18px;
    padding: 18px 30px;
    font-weight: 700;
    display: block;
    width: 197px;
    text-align: center;
}

.btn:hover{
    background: #546fcf;
}

.btn:active{
    background: #415bb8;
}

.header__intro{
    background: #EAEAEA;
    padding: 30px;
    width: 441px;

}

.header__intro-title{
    font-weight: 700;
    margin-bottom: 17px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}
